$color-one: #333333;
$color-two: #0E70B9; /* blue */
$color-three: #ECF0F1; /* light yellow-blue */
$color-four: #B5E9F7; /* light blue */
$color-five: #E74C3C; /* orange */
$color-six: #2C3E50; /* dark blue */
$color-seven: #ffffff;
